*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    
}
#navbarcontainer{
    display: flex;
    justify-content: space-around;
}
.navbarsection{
    background-color: #FFFFFF;
    background: url(/images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 1rem;
}
.leftnavbar{
    display: flex;
    
}
#landifylogo{
    position: static;
    width: 128px;
    height: 32px;
}
.navbarlinks{
    width: 100%;
    display: flex;
    padding-left: 40px;
}
.navbarlinks ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}
.navbarlinks ul li {
    padding: 10px;
}
.navbarlinks a{
    color: black;
    text-decoration: none;
}
.rightbarcontainer{
    display: flex;
    gap: 1.5rem;
}
.rightnavbar{
    display: flex;
    gap: 1.5rem;
}
/*Hamburger Menu */
.hamburger-menu{
    display: none;
}
#menuToggle {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menuToggle input {
    display: flex;
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  
  #menuToggle span{
    width: 25px;
    height: 5px;
    margin-bottom: 5px;
    background: black;
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.100,.50,.50,.50);
    -moz-transition: all .5s cubic-bezier(.100,.50,.50,.50);
    -ms-transition: all .5s cubic-bezier(.100,.50,.50,.50);
    -o-transition: all .5s cubic-bezier(.100,.50,.50,.50);
    transition: all .5s cubic-bezier(.100,.50,.50,.50);
  }
  
  #span1 {
    transform-origin: 4px 0px;
  }
  
  #span3 {
    transform-origin: bottom right;
  }
  
  #menuToggle input:checked ~ #span1 {
    background-color: black;
    transform: rotate(45deg) translate(6.5px);
  }
  #menuToggle input:checked ~ #span2 {
    background-color: black;
    transform: rotate(495deg) translate(0px);   
  }
  #menuToggle input:checked ~ #span3 {
    background-color: black;
    transform: rotate(45deg);
    opacity: 0;
  }
  
  


/* Text Section */
#text-section{
    display: flex;
    justify-content: space-around;
    margin: 0 8rem;
}
.text-section-container{
    display: flex;
    width: 100%;
    padding-top: 5rem;
    align-items: center;
    margin: inherit;
    justify-content: center;
}
.text-section-2{
    width: 100%;
    padding-bottom: 10rem;
}
.left-text-line{
    width: 100%;
}
.left-text-line h1{
    font-size: 60px;
    padding-bottom: 1rem;
}
.left-text-line p{
    font-size: 18px;
    padding-bottom: 1rem;
}
.play-icon{
    padding: 7px;
    display: flex;
    align-items: center;
}
.watch-video{
    display: flex;
    align-items: center;
}
.watchvideotext{
    text-decoration: none;
    color: blue;
    line-height: 24px;
}
.buttons-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.5rem;
}
#phonemockup{
    width: auto;
}

/* Partner Section */
#partners{
    background-color: #fff;
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    height: 100%;
    
}
.partners-1{
    display: flex;
    width: 70%;
    border-top: #E5E7EB 1px solid;
    border-bottom: #E5E7EB 1px solid;
}
.partnerscontainer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
    padding-top: 3rem;
}

/* Work section */
#work-section{
    background-color: #FFFFFF;
    height: 100%;
    justify-self: center;
    padding: 0 10rem;
    padding-bottom: 10rem;
}
.work-section-header-container{
    text-align: center;
    padding-top: 8rem;
}
.work-section-parag{
    font-size: 18px;
}
#work-section-header{
    font-size: 48px;
}
#grid-line-text-size{
    font-size: 30px;
}
#grid-line-parag-size{
    font-size: 16px;
}
.grid-line-container{
    padding-top: 6rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    gap: 7rem;
}
.section-1{
    text-align: center;
}

/* Comment Section */
#quote-img-inside{
    opacity: 0.5;
}
#comment-section{
    background-color: #D5FAFC;
    height: 100%;
   
}
#comment-section{
    display: flex;
    align-items: center;
}
.left-right-side-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
}
.left-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
}
.top-line-container{
    padding-bottom: 10rem;
}
.quote-img{
    display: flex;
    position: absolute;
}
.text-line{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    align-items: flex-start;
    padding-top: 3.6rem;
    padding-left: 6.6rem;
}
.text-line h1{
    font-size: 48px;
    display: flex;
}
.top-line{
    width: 75%;
}
.text-line p{
    font-size: 18px;
    padding-top: 1rem;
}
.text-line-hubspot{
    display: flex;
    align-items: flex-start;
    padding-top: 3rem;
}
#little-quote-img{
    padding-right: 1rem;
}
#hubspot-parag{
    font-size: 18px;
    line-height: 28px;
}
.owner-section-hubspot{
    padding-left: 2rem;
    padding-top: 2.5rem;
}
.owner-section-hubspot p{
    color: #6B7280;
}

.bottom-line-container{
    padding-right: 4rem;
}
.bottom-line{
    width: 384px;
    height: 396px;
    background-color: white;
    border-radius: 8px;
    padding: 32px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}

/* Right Side */
.right-line-big-container{
    width: 50%;
    padding-top: 15rem;
    display: grid;
    gap: 2rem;
}
.right-top-line{
    background-color: white;
    width: 488px;
    height: 312px;
    border-radius: 8px;
    padding: 32px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
.right-bottom-line{
    background-color: white;
    border-radius: 8px;
    padding: 32px;
    width: 384px;
    height: 256px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
.right-top-text-line-airbnb{
    display: flex;
    align-items: flex-start;
    padding-top: 2.5rem;
}
.right-top-text-line-airbnb p{
    font-size: 18px;
    line-height: 28px;
}
.owner-section-hubspot{
    padding-top: 1.9rem;
}
.owner-section-airbnb{
    padding-left: 2rem;
    padding-top: 2.5rem;
}
.owner-section-airbnb p{
    color: #6B7280;
}
.right-top-text-line-hubspot{
    display: flex;
    align-items: flex-start;
    padding-top: 2.3rem;
}
.right-top-text-line-hubspot p{
    font-size: 18px;
}

.owner-section-strapi{
    padding-left: 2rem;
    padding-top: 2.5rem;
}
.owner-section-strapi p{
    color: #6B7280;
}


/* Footer section */
#footer-section{
    background-color: black;
    width: 100%;
    height: 288px;

}
.footer-section-big-container{
    display: flex;
    margin: 0 7rem;
    justify-content: space-between;
    
}
.left-side-footer-section{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}
.sub-section-1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#sub-section-text-line{
    padding-top: 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.sub-section-1{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.top-line-text-line{
    display: flex;
    gap: 1rem;
}
.sub-section-2{
    display: flex;
    gap: 1rem;
}
#sub-section-text-line-2{
    padding-top: 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.copyright{
    color: white;
    font-size: 14px;
    padding-top: 2rem;
    font-size: 14px;
}
.far fa-copyright{
    display: flex;
    flex-direction: row;
}
.copyright-test{
    padding-left: 1rem;
}
#fa-class{
    display: flex;
    flex-direction: row;
    color: #D1D5DB;
}
.get-the-app{
    color: #D1D5DB;
}
.right-side-container{
    display: flex;
    align-items: center;
    color: white;
}
.right-side-badge{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 4rem;
}
.app-badge{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}